{
  "env": {
    "browser": true,
    "es2021": true
  },
  "plugins": ["vitest", "@typescript-eslint"],
  "extends": ["plugin:vitest/recommended", "plugin:vitest-globals/recommended", "eslint:recommended", "preact", "xo"],
  "overrides": [
    {
      "extends": ["xo-typescript", "prettier"],
      "files": ["*.ts", "*.tsx"],
      "parserOptions": {
        "project": ["./tsconfig.json"]
      },
      "env": {
        "vitest-globals/env": true
      }
    }
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "settings": {
    "jest": {
      "version": 27
    }
  },
  "ignorePatterns": ["*.d.ts"],
  "rules": {}
}
